@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(234, 237, 237);
}

.home-image{
    width: 100%;
    margin-bottom: -150px;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}